#myModal.modal
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h1 Contact
  .modal-body
    %p email: inquiry@staunchRobots.com
    %p twitter: @staunchRobots
    %p github: staunchRobots
    %p phone: 443-494-9228
  .modal-footer
    %a.close-btn.btn{:href => "#"} Close

