.internal
  %h2 INTERNAL PROJECT
  %br
  .desc
    %p 
      We always have an internal project that unites us as a team, and gives us a sandbox to sharpen our personal skills. Our current sandbox project is plist.tv. 
      = link_to "plist.tv", "http://plist.tv/"
      is an extension of the youtube service. Our goal is to be the tweetdeck of youtube. Ie we are extending the youtube api data set as tweetdeck extended twitter’s. Stay tuned :)

    %p I am also aching to build my own 37signals / Pivotal Labs inspired productivity tools.

