.header { text-align: center;
    h1 {font-size: 38px; text-align: center; margin-top: 20px; margin-bottom: 15px;}
    .desc {font-size: 20px; }
    .download-info {text-align: center; margin-top: 30px;}
    .btn {font-size: 25px;
          font-size: 20px;
          font-weight: normal;
          padding: 14px 24px;
          margin-right: 10px;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          border-radius: 6px;
      }
    .view_code {margin-right: 30px;}

}
.soften {text-align: center;
  h1 {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 40px; font-weight: 300; margin-bottom: 20px;}
  .marketing-byline {font-size: 18px; font-weight: 300; line-height: 24px; color: #999; text-align: center;}
}

.marketing {
  .row {margin-top: 20px; margin-bottom: 30px;
    h2 {display: inline;}
  }
  .marketing-byline {color: #08c}
  .example-sites {margin-top: 30px;}
}

.footer {overflow:hidden;
  .logo {float: left}
  .desc {float:left}
}


#services { 
  #ror {padding-top: 180px;}
  .service {padding: 10px; padding-top: 30px;
    h2 {border-bottom: 1px solid #b4b4b4; padding-top: 10px; padding-bottom: 10px; margin-bottom: 10px; font-size: 30px;}
  }
}
#services-title {position:fixed;
                top:40px;
                right:0;
                left:0;
                z-index:1040;
                background-color: white;
              .jumbotron {font-size: 50px; 
                          text-align: center; 
                          margin-top: 40px; 
                          margin-bottom: 15px;}
              .services_desc {font-weight: 300; 
                              font-size: 20px; 
                              font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                              text-align: center}
              #services_nav {margin-top: 30px; 
                            margin-bottom: 30px;
                            margin-left: 100px;}
}
