.header { text-align: left;
    h1 {font-size: 38px; text-align: center; margin-top: 20px; margin-bottom: 15px;}
    .desc {font-size: 20px;}
    .download-info {text-align: center; margin-top: 15px;}
    .btn {font-size: 25px;
      span {font-size: 14px !important;}}
    .btn-primary {margin-right: 60px;}
    .contact_btn {height: 60px;}
}
