.header { text-align: center;
    h1 {font-size: 38px; text-align: center; margin-top: 20px; margin-bottom: 15px;}
    .desc {font-size: 20px; }
    .download-info {text-align: center; margin-top: 30px;}
    .btn {font-size: 25px;
          font-size: 20px;
          font-weight: normal;
          padding: 14px 24px;
          margin-right: 10px;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          border-radius: 6px;
      }
    .view_code {margin-right: 30px;}

}
.soften {text-align: center;
  h1 {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 40px; font-weight: 300; margin-bottom: 20px;}
  .marketing-byline {font-size: 18px; font-weight: 300; line-height: 24px; color: #999; text-align: center;}
}

.marketing {
  .row {margin-top: 20px; margin-bottom: 30px;
    h2 {display: inline;}
  }
  .marketing-byline {color: #08c}
  .example-sites {margin-top: 30px;}
}
